<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mb-3">
        <label for="blogTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="blogTitle" placeholder="Title">
    </div>
    <div class="mb-3">
        <label for="coverImage" class="form-label">Cover Image</label>
        <input class="form-control" type="file" id="coverImage">
    </div>
    <div class="mb-3">
        <label for="blogBody" class="form-label">Body</label>
        <textarea class="form-control" id="blogBody" rows="3"></textarea>
    </div>
</body>
</html>