<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/bootstrapCSS') %>
    <title>Sign Up</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="m-4">
        <h1 class="display-6">Sign Up</h1>
        <form action="/signup" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Full Name</label>
                <input type="text" name="name" class="form-control w-25" style="border-width: 3px;" id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control w-25" style="border-width: 3px;" id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input class="form-control w-25" name="password" id="password" style="border-width: 3px;" placeholder="Password"></input>
            </div>
            <button type="submit" class="btn btn-outline-dark">Sign Up</button>
        </form>
    </div>
  <%- include('./partials/bootstrapScript') %>
</body>
</html>