<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/bootstrapCSS') %>
    <title>Sign In</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <div class="m-4">
        <h1 class="display-6">Sign In</h1>
        <% if (error) { %> 

            <%# we can directly use locals.error as error also %>
            <%# it is ejs functionality %>
            
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>

        <% } %>
        <% if (!error) { %>
        <form action="/signin" method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control w-25" style="border-width: 3px;" id="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="Password" class="form-label">Password</label>
                <input class="form-control w-25" name="password" id="password" style="border-width: 3px;" placeholder="Password"></input>
            </div>
            <button type="submit" class="btn btn-outline-dark">Sign In</button>
        </form>
        <% } %>
    </div>
  <%- include('./partials/bootstrapScript') %>
</body>
</html>