<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (error) { %> 

        <%# we can directly use locals.error as error also %>
        <%# it is ejs functionality %>
        
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>

    <% } %>
</body>
</html>